$border-color: #484848;
$border: 1px solid $border-color;
$font-m: max(0.5vw, 12px);
$font-s: max(0.4vw, 11px);
$gap: max(0.3vw, 0.87rem);
$input-gap: max(0.6vw, 0.6rem);
$sidebar: 14rem;
$dark-2: #1a1b1f;
$footer-gap: max(0.4vw, 0.6rem);
$button-padding: max(0.6vw, 0.5rem) max(1vw, 0.9rem);

@mixin input {
	outline: none;
	font-size: $font-s;
	font-family: 'mono', monospace !important;
	overflow-y: scroll;
	caret-color: #279eff;
	border: none;
	padding: $input-gap;
	background: transparent;
}

@mixin input-child {
	margin: 0;
	margin-top: $input-gap;
	font-size: $font-s;
	font-family: 'mono', monospace !important;
}

@mixin input-placeholder {
	&[placeholder]:empty::before {
		content: attr(placeholder);
		z-index: 9;
		line-height: 1.7;
		color: #555;
		word-break: break-all;
	}

	&[placeholder]:empty:focus::before {
		content: '';
	}
}

@import 'components/root';
@import 'components/buttons';
@import 'components/tab-subtab';
@import 'components/footer';
@import 'components/dropdown';
@import 'components/sections';

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: $sidebar;
	height: 100dvh;
	border-right: $border;
	background: $dark-2;
	display: none;

	&.active {
		display: block;
	}

	> .top {
		width: 100%;
		border-bottom: $border;
		padding: $button-padding;
		text-align: center;
		font-size: $font-m;
	}

	#guest-mode {
		width: 100%;
	}

	> .content {
		padding: $gap;

		.group {
			> .name {
				position: relative;
				width: 100%;
				margin-top: calc($gap + $gap);

				p {
					font-size: $font-s;
					background: $dark-2;
					text-transform: uppercase;
					width: max-content;
					padding-right: max(0.3vw, 0.3rem);

					span {
						opacity: 0.5;
					}
				}

				&::after {
					content: '';
					position: absolute;
					z-index: -1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					border-radius: 9rem;
					height: 2px;
					background: $border-color;
				}
			}

			.content {
				.new {
					width: 100%;
					margin: $gap 0;
				}
			}
		}
	}
}

.input-1,
.input-2 {
	@include input;
	@include input-placeholder;
	min-height: 10rem;
	height: 100%;

	> div {
		@include input-child;
		padding-top: max(0.6vw, 0.5rem);
		border-top: $border;
	}
}

.input-3 {
	@include input;

	&.normal {
		padding: $input-gap !important;
	}

	> div {
		width: calc(100% + 1rem);
		margin-left: max(-0.6vw, -0.5rem);
		padding: $input-gap;
		padding-bottom: 0;
		margin-top: $gap;
		border-top: $border;
		font-size: $font-s;
		font-family: 'mono', monospace !important;

		&::before {
			counter-increment: section;
			content: counter(section) ' ';
			opacity: 0.3;
			min-width: 3rem;
		}
	}

	> div:first-child {
		border-top: none !important;
		margin-top: 0 !important;
	}
}

.input-4 {
	@include input;
	@include input-placeholder;
	width: 100%;
	height: calc(100% - 35.2px);

	> div {
		@include input-child;
	}
}

.search-1 {
	display: flex;
	border-bottom: $border;
	gap: $gap;
	align-items: center;

	> div:first-child {
		padding-left: $gap;
	}

	div {
		font-size: $font-m;

		input {
			@include input;

			flex-grow: 1;
			background: transparent;
			font-size: $font-m;
			padding: $input-gap;
			border-left: $border;
		}
	}
}

#render-iframe,
#preview-iframe {
	width: 100%;
	height: calc(100% - 34.4px);
}

@keyframes rotate-360 {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 360deg;
	}
}
